.media-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  margin-top: 80px;
  padding: 0px 20px;
}

.media-contents {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.media-header {
  font-size: 14px;
  font-weight: 600;
  color: rgba(80, 78, 228, 1);
}
.media-active {
  font-size: 30px;
  font-weight: 600;
  color: rgba(14, 13, 89, 1);
}
.media-channels {
  max-width: 790px;
  width: 100%;
  color: rgba(14, 13, 89, 1);
}
.nav-tabs {
  border-bottom: none !important;
  display: flex;
  gap: 40px;
  justify-content: center;
}

.nav-tabs .nav-link {
  border: none !important;
  border-radius: 0 !important;
  color: rgba(125, 120, 187, 1);
  font-size: 16px;
  font-weight: 600;
}

.nav-tabs .nav-link.active {
  border-radius: 8px !important;
  background-color: rgba(245, 239, 255, 1);
  color: rgba(79, 72, 163, 1);
  font-size: 16px;
  font-weight: 600;
  padding: 12px 16px;
}
.icon-circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  border-radius: 50%;
  border: 1px solid rgba(79, 72, 163, 1);
}

.tab-title-with-icon {
  display: inline-flex;
  align-items: center;
}

.no-border-tabs .nav-tabs {
  border-bottom: none !important;
}

.no-border-tabs .nav-tabs .nav-link {
  border: none !important;
  border-radius: 0 !important;
}

.no-border-tabs .nav-tabs .nav-link.active {
  border: none !important;
  border-bottom: 2px solid #007bff !important;
}
.nav-tabs .nav-link.active .icon-circle {
  background: linear-gradient(133.58deg, #9154f4 -4.06%, #745fc8 122.06%);
  border: none;
}
.tab-container {
  display: flex;
  gap: 50px;
  border-top: 1px solid rgb(212, 207, 207);
  padding-top: 60px;
  margin-top: 50px;
  width: 100%;
}
.tabContent {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: left;
  max-width: 443px;
  width: 100%;
}
.mediaImg-container {
  max-width: 616px;
  width: 100%;
}
.media-image {
  width: 100%;
}
.tabContent-header {
  font-size: 30px;
  font-weight: 600;
  color: rgba(14, 13, 89, 1);
}
.media-nav {
  display: flex;
  gap: 10px;
  align-items: center;
}
@media only screen and (max-width: 769px) {
  .nav-tabs {
    gap: 12px;
  }
}

@media only screen and (max-width: 425px) {
  .nav-tabs {
    flex-direction: column;
  }
  .tab-container {
    flex-direction: column;
  }
}

.loader {
  width: 100%;
  height: 5px;
  background-color: #f3f3f3;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  margin-top: 20px;
}

.loader::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    89.96deg,
    rgba(217, 193, 255, 0) -16.79%,
    #3b39e2 99.97%
  );
  animation: load 3s linear infinite;
}

@keyframes load {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
