.sales-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 60px;
    padding: 20px;
    align-items: center;
}
.sales-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.sales-header{
    max-width: 700px;
    width: 100%;
    font-size: 40px;
    font-weight: 600;
    color: rgba(14, 13, 89, 1);
}
.sales-dsec{
    max-width: 750px;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    color: rgba(45, 44, 118, 1);
}